/* ===== header ======= */
.hero__content{
  width: 100vw;
  position: absolute;
  top: 0px;
}

.slide__content--hieght{
  min-height: auto !important;
}



/* ======= interest ========= */
.main__interest {

}

.interest__title {
  font-size: 48px;
  margin-bottom: 90px;
}

.interest__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

}
.interest__item {
  display: flex;
  flex-direction: column;
}
.interest__item img{
  width: 85px;
  height: auto;
  margin-bottom: 15px;
}
.interest__item-title {
  font-weight: 700;
  margin-bottom: 30px;
}

@media (max-width: 1600px) {
.interest__title{
  font-size: 40px;
}

.interest__item img{
  width: 70px;
}

.interest__item-title {
  font-weight: 700;
  margin-bottom: 20px;
}
  
}

@media (max-width: 1400px){
  .interest__title{
  font-size: 35px;

}
.interest__item {
  font-size: 18px;
  max-width: 165px;
}
.interest__grid{
  gap: 10px;
}
}


@media (max-width: 1200px){
  .interest__grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
  }
}


@media (max-width: 1000px){
      .interest__grid {
        gap: 35px;
    }
      .interest__item img {
        width: 50px;
    }

.interest__item-title {
        margin-bottom: 15px;
    }
}


@media (max-width: 800px){
  .interest__title{
    font-size: 30px;
    margin-bottom: 75px;
  }

  .interest__item{
    font-size: 15px;
  }
  .interest__item-title {
    margin-bottom: 10px;
  }
}


@media (max-width: 600px){
  .interest__title{
    font-size: 25px;
  }
  .interest__grid {
      grid-template-columns: repeat(2, 1fr);
  }
  .interest__item img{
    width: 35px;
  }
  .interest__item{
    font-size: 12px;
  }
}


/* ======== get ========== */

.get {
  padding: 180px 0;
  background: #dcdede;
}

.main__get {
  margin-top: 200px;
}

.get__title {
  margin-bottom: 150px;
  color: var(--accent-color);
}

/* GRID */
.get__inner {
  display: grid;
  align-items: end;
  grid-template-columns: repeat(5, 1fr);
}


.get__inner li:nth-child(1) {
  grid-column: 1 / 2;
}
.get__inner li:nth-child(2) {
  grid-row: 2/3;
  grid-column: 2 / 3;
}

.get__inner li:nth-child(3) {
  grid-row: 1/2;
  grid-column: 3 / 4;
}
.get__inner li:nth-child(4) {
  grid-row: 2/3;
  grid-column: 4 / 5;
}
.get__inner li:nth-child(5) {
  grid-row: 1/2;
  grid-column: 5 / 6;
}


/* ITEM */
.get__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.get__item img {
  width: 130px;
  height: auto;
}

.get__text {
  max-width: 280px;
  font-size: 24px;
  line-height: 1.4;
}



/* ----- business --------- */
.get__business .get__inner{
      grid-template-columns: repeat(6, 1fr);
      gap: 70px 30px;
      align-items: start;
}

.get__item-business{
  align-items: start;
  text-align: start;
}
.get__item-business .get__text {
  max-width: 415px;
}
.get__item-title{
  font-weight: 700;
}
.get__business .get__inner li:nth-child(1) {
  grid-column: 1 / 3;
}
.get__business .get__inner li:nth-child(2) {
  grid-row: 2/3;
  grid-column: 2 / 4;
}

.get__business .get__inner li:nth-child(3) {
  grid-row: 1/2;
  grid-column: 3 / 5;
}
.get__business .get__inner li:nth-child(4) {
  grid-row: 2/3;
  grid-column: 4 / 6;
}
.get__business .get__inner li:nth-child(5) {
  grid-row: 1/2;
  grid-column: 5 / 7;
}

@media (max-width: 1600px) {
.get__title{
  font-size: 48px;
}
.get__text {
  font-size: 20px;
}
  
}

@media (max-width: 1400px){
.get__item img {
    width: 120px;
}

.get__text {
    font-size: 20px;
}
    .get__title {
        font-size: 42px;
            margin-bottom: 100px;
    }
}


@media (max-width: 1200px){
  .get__inner{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .get__inner li:nth-child(4) {
  grid-row: 3/4;
  grid-column: 1 / 2;
}
  .get__inner li:nth-child(5) {
  grid-row: 3/4;
  grid-column: 3 / 4;
}
    .interest__item {
        max-width: none;
    }

    .get__business .get__inner li:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.get__business .get__inner li:nth-child(2) {
    grid-column: 1 / 3;
}

.get__business .get__inner li:nth-child(4) {
    grid-column: 3 / 5;
}

.get__business .get__inner li:nth-child(5) {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}
.get__business .get__inner {
    grid-template-columns: repeat(4, 1fr);
        gap: 50px 30px;
}
}


@media (max-width: 1000px){
  .get__text, .get__item-business {
    font-size: 18px;
}    .get__item img {
        width: 100px;
    }
}


@media (max-width: 800px){


.main__get {
  margin-top: 100px;
}

  .get__text, .get__item-business  {
    font-size: 15px;
} 

.get{
  padding: 120px 0;
}
.get__title {
        font-size: 35px;
        margin-bottom: 80px;
    }
}


@media (max-width: 600px){
    .get__inner {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px
        ;
    }
    .get__inner li:nth-child(1) {
  grid-column: auto;
}
.get__inner li:nth-child(2) {
  grid-row: auto;
  grid-column: auto;
}

.get__inner li:nth-child(3) {
  grid-row: auto;
  grid-column: auto;
}
.get__inner li:nth-child(4) {
  grid-row: auto;
  grid-column: auto;
}
.get__inner li:nth-child(5) {
  grid-column: auto;
  grid-row: auto;
}

.get {
        padding: 80px 0;
    }

    .get__title {
        font-size: 28px;
        margin-bottom: 80px;
    }
        .get__item img {
        width: 85px;
    }

    .get__business .get__inner li:nth-child(3) {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}
.get__business .get__inner li:nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }
        .get__business .get__inner {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 30px;
    }
        .get__business .get__inner {
        justify-items: center;
    }

}


/* ======== succsess ============ */
.main__success {
  margin-top: 130px;
}

.success__grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px
  ;
}
.success__item {
  display: flex;
  flex-direction: column;
  max-width: 260px;
}
.success__item img{
  width: 160px;
}
.success__item .accent--color{
  font-weight: 700;
}

@media (max-width: 1600px) {
  .success__item img{
  width: 140px;
}

}

@media (max-width: 1400px){
.success__item {
  font-size: 18px;
  text-align: center;
  align-items: center;
}
    .success__item img {
        width: 125px;
    }
}


@media (max-width: 1200px){
  .main__success {
    margin-top: 90px;
}
.success__grid {

  grid-template-columns: repeat(2, 1fr);

}
}


@media (max-width: 800px){
      .main__success {
        margin-top: 80px;
    }
  .success__item img {
        width: 100px;
    }
    .success__item {
  font-size: 15px;
}

}


@media (max-width: 600px){
 .main__success {
    margin-top: 50px;
}
    .success__item img {
        width: 90px;
    }
}
