

.main__works{
  margin-bottom: 200px;
}
.main__present{
  margin-top: 200px;
}
.main__welcome{
  margin-top: 200px;
}



.works__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.works__num{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: var(--accent-color);

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 106px;
  line-height: 100%;
  color: #fff;
}

.works__title{
  margin-bottom: 80px;
  color: var(--accent-color);
}

.works__item{
  position: relative;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.works__item::after{
    content: "";
    display: block;
    position: absolute;
top: 40%;
    left: 100%;
    width: 100%;
    height: 5px;
    background: var(--accent-color);
}

.works__item:last-child::after{
  display: none;
}


.works__text{
  font-weight: 700;
  text-align: center;
}


.categories {
  padding: 190px 0px 120px 0px;
  background: #dcdede;
}
.main__categories {
}


.categories__swiper {
}

.categories__slide {
}
.categories__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.categories__item {
  padding: 25px;
  /* height: 100%; */
  min-height: 395px;
  background: #fff;
}
.categories__item--title {
  font-weight: 600;
  font-size: 24px;
  color: var(--accent-color);
  margin-bottom: 40px;
}
.categories__item-text {
}
.categories__pagination, .present__pagination{
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  margin-top: 50px;
}

.tab-controls__link{
  text-align: center;
}

.present__title{
  color: var(--accent-color);
  margin-bottom: 90px;
}
.present__slide img{
  width: 100%;
}

.welcome__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__text, .welcome__accent{
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
}
.welcome__text{
  margin-bottom: 40px;
}
.welcome__accent{
  margin-bottom: 100px;
}

.welcome__button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  font-weight: 600;
  font-size: 24px;

  max-width: 706px;
  padding: 25px 150px;
  background: var(--accent-color);
  border-radius: 11px;
}


@media (max-width:1600px){
  .works__num{
    font-size: 90px;
    width: 200px;
    height: 200px;
    
  }

  .works__item::after{
    top: 38%;
    left: 19vw;
    width: 13vw;
  }
  .categories__item {
    min-height: 380px;
}
    .main {
        margin-top: 1000px;
    }
    .present__title {
      font-size: 48px;
    }
      .welcome__button{
    font-size: 20px;
    padding: 25px 100px;
  }
}


@media (max-width: 1400px){
  .works__num {
        font-size: 70px;
        width: 190px;
        height: 190px;
    }
    .works__item::after {
        top: 38%;
        left: 21vw;
        width: 11vw;
    }
  .categories__item--title{
    font-size: 20px;
  }
  .categories__item-text{
    font-size: 18px;
  }

  .welcome__text , .welcome__accent{
    font-size: 42px;
  }

}

@media (max-width: 1200px){

  .categories__grid {
    grid-template-columns: repeat(2, 1fr);
}
.categories__item {
        min-height: 350px;
    }
    .works__num {
        font-size: 50px;
        width: 150px;
        height: 150px;
    }
        .works__item::after {

          display: none;
    }
    .works__text{
      font-size: 18px;
    }

    .present__title {
        font-size: 42px;
    }
      .welcome__text , .welcome__accent{
    font-size: 40px;
  }
  .welcome__button{
    font-size: 18px;
    padding: 20px 100px;
  }

}

@media (max-width: 1000px){
      .main {
        margin-top: 1200px;
    }

    .present__title {
        font-size: 35px;
    }
    
          .welcome__text , .welcome__accent{
    font-size:35px;
  }
}

@media (max-width: 800px){
  .categories  .tab-controls__link{
    font-size: 15px;
    padding: 20px;
  }
  .categories {
    padding: 90px 0;
    background: #dcdede;
}
  .categories__item--title{
    margin-bottom: 10px;
  }
  .categories__item{
    padding: 15px;
    min-height: 300px;
  }

  .categories__item--title{
    font-size: 18px;
  }
  .categories__item-text{
    font-size: 15px;
  }

    .works__inner{
      /* flex-direction: column; */
      gap: 30px;
    }
    .works__item {
    gap: 20px;
}
    .present__title {
        font-size: 32px;
    }

    .welcome__button {
        padding:15px 50px;
        font-size: 15px;
    }
    .welcome__accent{
      margin-bottom: 50px;
    }

  .welcome__text , .welcome__accent{
    font-size:25px;
  }
}

@media (max-width: 600px){
    .categories__grid {
    grid-template-columns: repeat(1, 1fr);
}
    .categories__item {
        min-height: 200px;
    }
        .categories .tab-controls__link {
        font-size: 12px;
        padding: 15px;
    }
        .works__inner{
      flex-direction: column;
      gap: 60px
      ;
    }
        .main {
        margin-top: 1000px;
    }
        .works__text {
        font-size: 15px;
    }
    .works__num {
        font-size: 40px;
        width: 120px;
        height: 120px;
    }
    .main__works {
    margin-bottom: 100px;
}
.main__present{
  margin-top: 100px;
}
    .present__title {
        font-size: 23px;
    }
    .main__welcome {
    margin-top: 100px;
}
    .welcome__text, .welcome__accent {
        font-size: 20px;
    }
        .welcome__button {
        padding: 15px 50px;
        font-size: 12px;
    }
}

