/* ===== header ======= */
.hero__content{
  width: 100vw;
  position: absolute;
  top: 0px;
}

.slide__content--hieght{
  min-height: auto !important;
}



/* ======= interest ========= */
.main__interest {

}

.interest__title {
  font-size: 48px;
  margin-bottom: 90px;
}

.interest__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

}
.interest__item {
  display: flex;
  flex-direction: column;
}
.interest__item img{
  width: 85px;
  height: auto;
  margin-bottom: 15px;
}
.interest__item-title {
  font-weight: 700;
  margin-bottom: 30px;
}



/* --------------- */

.service__inner{
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: none;
  align-items: center;
}


.slide__right{
  max-width: 613px;
}
.slide__left{
  max-width: 698px;
}


.slide__right .bid__title{
  font-size: 28px;
  margin-bottom: 15px;
}

.slide__right .bid__subtitle{
  font-size: 18px;
}

.slide__right .bid__info, .slide__right .bid__form{
  padding: 20px;
  background: rgba(246, 246, 246, 0.81);
  border-radius: 8px;
  margin-bottom: 20px;
}
.slide__right .bid__input{
  padding: 12px;
  font-size: 18px;
  background: transparent;
}

.bid__form--company{
  display: flex;
  gap: 9px;
}

.slide__right .bid__form{
  gap: 15px
  ;
}

.slide__right .bid__buttons{
  background: rgba(246, 246, 246, 0.81);
  padding: 15px;
  align-items: center;

}
.slide__right .bid__button{
  font-size: 18px; 
  padding: 15px;
}

.slide__right .bid__checkbox-text{
  font-size: 12px;
  
}


.slide__right .bid__checkbox{
  width: 20px;
  height: 20px;
}



.main__clients {
}
.clients {
  padding: 200px 0px;
  background: #d6d8d8;
}
.clients__title {
  color: var(--accent-color);
  margin-bottom: 80px;
}
.clients__descr {
  margin-bottom: 70px;
}
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.clients__item span{
    font-weight: 700;
  text-align: center;
  max-width: 376px;
}
/* ------------------------- */

.main__steps{
  margin-top: 0px;
}
.problems {
  padding: 180px 0px;
}
.main__problem {
}

.problems__title {
  color: var(--accent-color);
  margin-bottom: 90px;
}
.problems__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.problems__item {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.prublems__img {
  width: 123px;
}
.problems__item--title {
  font-weight: 700;
}
.problems__item-text {
}

/* --------------------------- */
.help {
  padding: 180px 0px;
  background: #d6d8d8;
}

.help__title {
  color: var(--accent-color);
  margin-bottom: 80px;
}
.help__descr {
  margin-bottom: 100px;
}
.help__grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 100px;
  gap: 30px;
}
.help__item {
  padding: 35px 40px;
  height: 391px;
  max-width: 460px;
  background: #fff;
  border-radius: 15px;

}
.help__img {
  width: 137px;
}
.help__text {
  font-weight: 700;
}
.help__button-inner{
  display: flex;
  justify-content: center;
}
.help__button {
  padding: 36px 110px;
  font-weight: 700;
  font-size: 24px;
  background: var(--accent-color);
  border-radius: 11px;
  color: #fff;
  text-align: center;
}

/* ------------------ */

.trust {
  padding: 180px 0px;
}
.main__trust {
}
.container {
}
.trust_title {
  color: var(--accent-color);
  margin-bottom: 100px;
}
.trust__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 180px;
}
.trust__item {
  display: flex;
  align-items: center;
  padding: 35px;
  gap: 50px;
  background: #d6d8d8;
  border-radius: 15px;
}
.trust__img {
}
.trust__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.trust__item-title {
  font-weight: 700;
}
.trust__item-descr {
}

/* ---------- */

.format {
  padding: 180px 0px;
  background: #dcdede;
}

.format__title {
  color: var(--accent-color);
  margin-bottom: 60px;
}
.format__descr {
  margin-bottom: 70px;
}
.format__inner {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.format__item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  border-radius: 11px;
  height: 481px;
  align-items: start;

}
.format__img {
  margin-bottom: 30px;
  max-height: 140px;
}
.forma__item-title {
  font-weight: 700;
  margin-bottom: 40px;
}
.format__item-descr {
}

/* -------------------- */

.prices {
}
.main__prices {
  margin-top: 200px;
}

.price__title {
  color: var(--accent-color);
  margin-bottom: 50px;
}

.price__descr{
  margin-bottom: 70px;
}
.price__item-descr {
  margin-bottom: 70px;
  position: relative;
  margin-left: 15px;
  margin-top: auto;
}
.price__item-descr::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0px;
  height: 162px;
  width: 4px;
  background: var(--accent-color);
}

.price__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.price__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background: #dcdede;
  border-radius: 11px;
  gap: 30px;
  max-width: 460px;
  height: 538px;
}
.price__item-title {
  font-weight: 700;
font-size: 26px;
line-height: 1.31;
}
.price__button {
  padding: 20px;
  width: 100%;
  text-align: center;
color: #fff;
font-weight: 700;
background: var(--accent-color);
margin-top: auto;
border-radius: 11px;
}


@media (max-width: 1600px) {
.interest__title{
  font-size: 40px;
}

.interest__item img{
  width: 70px;
}

.interest__item-title {
  font-weight: 700;
  margin-bottom: 20px;
}
.slide__right .custom-checkmark:after {
  left: 8px;
    top: 4px;
    width: 6px;
    height: 14px;
}
.slide__right .bid__button {
    font-size: 15px;
    padding: 15px;
}
.slide__right .bid__checkbox-text {
    font-size: 10px;
}
.slide__right .bid__title {
    font-size: 25px;
}
.slide__right .bid__subtitle {
    font-size: 15px;
}

.slide__right .custom-checkmark {
    height: 25px;
    width: 25px;
}
  

.clients__title, .problems__title, .help__title, .trust_title, .format__title,.price__title {
  font-size: 48px;
}

.help__descr,  .trust_title{
    margin-bottom: 80px;
}

.problems__item {
  font-size: 18px;
    gap: 30px;
}

.help__img {
    width: 120px;
}

.help__button{
  font-size: 20px;
  padding: 30px 90px;
}

.help__text{
  font-size: 18px;
}
.help__item {
    height: 350px;
}
.help__grid {
    margin-bottom: 90px;
}

.trust__item {

    padding: 25px;
}

.team__nums {
    margin-top: 0px;
}
.trust__inner{
  margin-bottom: 150px;
}

.format__item{
  font-size: 18px;
}
.forma__item-title{
  margin-bottom: 20px;
}
.format__img {
    max-height: 120px;
}

.price__item-title {
    font-size: 22px;
    line-height: 1;
}
}

@media (max-width: 1400px){
  .interest__title{
  font-size: 35px;

}
.interest__item {
  font-size: 18px;
  max-width: 165px;
}
.interest__grid{
  gap: 10px;
}

.service__inner {
  flex-direction: column;
  gap: 60px;
  justify-content: center;
}

.slide__right{
  align-self: center;
}

.clients__img {
    max-height: 170px;
}

.clients__item span{
  font-size: 18px;
}
.clients__item{
  font-size: 18px;
  gap: 30px;
}
.main {
        margin-top: 1260px;
    }

    .prublems__img {
    width: 100px;
}
.help__grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.trust__img{
  width: 10%;
}

.price__item-descr{
  font-size: 18px;
}
.price__title{
  font-size: 42px;
}
.price__item-title {
        font-size: 20px;
        line-height: 1;
    }
    .price__button{
      font-size: 18px;
    }
}


@media (max-width: 1200px){
  .interest__grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
  }
  .main {
        margin-top: 1550px;
    }

    .clients, .problems {
    padding: 100px 0px;

}

    .clients__title {
        font-size: 42px;
      margin-bottom: 45px;
    }

    .problems__title{
      font-size: 42px;
      margin-bottom: 70px;
    }
    .clients__img {
        max-height: 150px;
    }

    .clients__item span {
        font-size: 15px;
    }

    .problems__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.help__img {
        width: 100px;
    }

    .help__title, .format__title  {
      font-size: 42px;
      margin-bottom: 50px;
    }

    .trust_title{
      font-size: 42px;
    }

    .format__descr{
      margin-bottom: 50px;
    }

        .format__item {
        font-size: 15px;
    }
    

    .trust__text{
      font-size: 18px;
    }
    .trust__inner {
        margin-bottom: 100px;
    }


}


@media (max-width: 1000px){
      .interest__grid {
        gap: 35px;
    }
      .interest__item img {
        width: 50px;
    }

.interest__item-title {
        margin-bottom: 15px;
    }

        .clients__title {
        font-size: 35px;
    }
    .clients__descr{
      margin-bottom: 50px;
      font-size: 18px;
    }
    .clients__img {
        max-height: 120px;
    }
        .clients__item span {
        font-size: 12px;
    }
        .help__button {
        font-size: 18px;
        padding: 30px 70px;
    }
    .help__img {
        width: 80px;
    }

    .format__inner {
      flex-direction: column;
}

.format__item{
  height: auto;
}
.format__descr {
  font-size: 18px;
        margin-bottom: 50px;
    }

    .price__descr {
    font-size: 18px;
    margin-bottom: 50px;
}
.price__grid {
    grid-template-columns: repeat(2, 1fr);
}
}


@media (max-width: 800px){
  .interest__title{
    font-size: 30px;
    margin-bottom: 75px;
  }

  .interest__item{
    font-size: 15px;
  }
  .interest__item-title {
    margin-bottom: 10px;
  }
  .slide__right .bid__title {
        font-size: 24px;
    }
    
    .clients__list{
      flex-direction: column;
      gap: 50px
      ;
    }
    .clients__img {
        max-height: 150px;
    }


    .clients__item span {
        font-size: 15px;
    }
    .problems__title {
        font-size: 35px;
    }
    .prublems__img {
        width: 80px;
    }
        /* .help__img {
        width: 80px;
    } */

    .help__item {
   padding: 20px 30px;
    height: 300px;
}
.help__descr{
  font-size: 18px;
  margin-bottom: 50px;
}
    .help__button {
        font-size: 15px;
        padding: 25px 60px;
    }
        .help__text {
        font-size: 15px;
    }
    .help__title {
        font-size: 35px;
    }
    .help, .trust {
    padding: 100px 0px;
}
    .trust_title{
      font-size: 35px;
      margin-bottom: 50px;
    }
    .trust__text{
      font-size: 15px;
      gap: 10px;
    }
    .trust__inner {
        margin-bottom: 50px;
    }
        .format__img {
        max-height: 100px;
    }
    .format {
    padding: 100px 0px;
}
.format__title{
  font-size: 35px;
}

    .price__item-title {
        font-size: 18px;
        line-height: 1;
    }
    .price__item-descr {
        font-size: 15px;
    }

    .price__button {
    padding: 12px;
    color: #fff;
    border-radius: 7px;
}
.price__item {
    padding: 20px;
        height: 400px;
}
.steps{
  padding: 100px 0px;
  margin-top: 100px;
}
}

@media (max-width: 600px){
  .interest__title{
    font-size: 25px;
  }
  .interest__grid {
      grid-template-columns: repeat(2, 1fr);
  }
  .interest__item img{
    width: 35px;
  }
  .interest__item{
    font-size: 12px;
  }
  .slide__right .bid__input {
    padding: 10px;
    font-size: 15px;

}
.slide__right .bid__form {
    gap: 10px;
}

.clients__img {
        max-height: 135px;
    }

    .clients__descr {

        font-size: 15px;
    }

        .clients__title {
        font-size: 34px;
    }
        .main {
        margin-top: 1610px;
    }
    .problems__list {

        grid-template-columns: repeat(1, 1fr);

    }
        .help__descr {
        font-size: 15px;

    }
        .help__button {
        font-size: 15px;
        padding: 20px 40px;
    }
        .help__grid {
        margin-bottom: 60px;
        grid-template-columns: 1fr;
    }
    .trust__item {
        padding: 15px;
            border-radius: 7px;
    }
    .trust__inner {
    gap: 15px;
}
    .trust__text {
        font-size: 12px;
        gap: 10px;
    }
    .trust__item {
    gap: 20px;
}
.trust__img {
        width: 15%;
    }
    .format__title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .format__descr{
      font-size: 15px;
      margin-bottom: 30px;
    }

    .price__grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
        .price__title {
        font-size: 35px;
    }
    .main__prices {
    margin-top: 100px;
}
}

.steps{
  padding: 180px 0px;
  background: #dcdede;
  margin-top: 200px;
}

/* ======== get ========== */

.get {
  padding: 180px 0;
  background: #dcdede;
}

.main__get {
  margin-top: 200px;
}

.get__title {
  margin-bottom: 150px;
  color: var(--accent-color);
}

/* GRID */
.get__inner {
  display: grid;
  align-items: end;
  grid-template-columns: repeat(5, 1fr);
}


.get__inner li:nth-child(1) {
  grid-column: 1 / 2;
}
.get__inner li:nth-child(2) {
  grid-row: 2/3;
  grid-column: 2 / 3;
}

.get__inner li:nth-child(3) {
  grid-row: 1/2;
  grid-column: 3 / 4;
}
.get__inner li:nth-child(4) {
  grid-row: 2/3;
  grid-column: 4 / 5;
}
.get__inner li:nth-child(5) {
  grid-row: 1/2;
  grid-column: 5 / 6;
}


/* ITEM */
.get__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.get__item img {
  width: 130px;
  height: auto;
}

.get__text {
  max-width: 280px;
  font-size: 24px;
  line-height: 1.4;
}



/* ----- business --------- */
.get__business .get__inner{
      grid-template-columns: repeat(6, 1fr);
      gap: 70px 30px;
      align-items: start;
}

.get__item-business{
  align-items: start;
  text-align: start;
}
.get__item-business .get__text {
  max-width: 415px;
}
.get__item-title{
  font-weight: 700;
}
.get__business .get__inner li:nth-child(1) {
  grid-column: 1 / 3;
}
.get__business .get__inner li:nth-child(2) {
  grid-row: 2/3;
  grid-column: 2 / 4;
}

.get__business .get__inner li:nth-child(3) {
  grid-row: 1/2;
  grid-column: 3 / 5;
}
.get__business .get__inner li:nth-child(4) {
  grid-row: 2/3;
  grid-column: 4 / 6;
}
.get__business .get__inner li:nth-child(5) {
  grid-row: 1/2;
  grid-column: 5 / 7;
}

@media (max-width: 1600px) {
.get__title{
  font-size: 48px;
}
.get__text {
  font-size: 20px;
}
  
}

@media (max-width: 1400px){
.get__item img {
    width: 120px;
}

.get__text {
    font-size: 20px;
}
    .get__title {
        font-size: 42px;
            margin-bottom: 100px;
    }
}


@media (max-width: 1200px){
  .get__inner{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .get__inner li:nth-child(4) {
  grid-row: 3/4;
  grid-column: 1 / 2;
}
  .get__inner li:nth-child(5) {
  grid-row: 3/4;
  grid-column: 3 / 4;
}
    .interest__item {
        max-width: none;
    }

    .get__business .get__inner li:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.get__business .get__inner li:nth-child(2) {
    grid-column: 1 / 3;
}

.get__business .get__inner li:nth-child(4) {
    grid-column: 3 / 5;
}

.get__business .get__inner li:nth-child(5) {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}
.get__business .get__inner {
    grid-template-columns: repeat(4, 1fr);
        gap: 50px 30px;
}
}


@media (max-width: 1000px){
  .get__text, .get__item-business {
    font-size: 18px;
}    .get__item img {
        width: 100px;
    }
}


@media (max-width: 800px){


.main__get {
  margin-top: 100px;
}

  .get__text, .get__item-business  {
    font-size: 15px;
} 

.get{
  padding: 120px 0;
}
.get__title {
        font-size: 35px;
        margin-bottom: 80px;
    }
}


@media (max-width: 600px){
    .get__inner {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px
        ;
    }
    .get__inner li:nth-child(1) {
  grid-column: auto;
}
.get__inner li:nth-child(2) {
  grid-row: auto;
  grid-column: auto;
}

.get__inner li:nth-child(3) {
  grid-row: auto;
  grid-column: auto;
}
.get__inner li:nth-child(4) {
  grid-row: auto;
  grid-column: auto;
}
.get__inner li:nth-child(5) {
  grid-column: auto;
  grid-row: auto;
}

.get {
        padding: 80px 0;
    }

    .get__title {
        font-size: 28px;
        margin-bottom: 80px;
    }
        .get__item img {
        width: 85px;
    }

    .get__business .get__inner li:nth-child(3) {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}
.get__business .get__inner li:nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }
        .get__business .get__inner {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 30px;
    }
        .get__business .get__inner {
        justify-items: center;
    }

}


/* ======== succsess ============ */
.main__success {
  margin-top: 130px;
}

.success__grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px
  ;
}
.success__item {
  display: flex;
  flex-direction: column;
  max-width: 260px;
}
.success__item img{
  width: 160px;
}
.success__item .accent--color{
  font-weight: 700;
}

@media (max-width: 1600px) {
  .success__item img{
  width: 140px;
}

}

@media (max-width: 1400px){
.success__item {
  font-size: 18px;
  text-align: center;
  align-items: center;
}
    .success__item img {
        width: 125px;
    }
}


@media (max-width: 1200px){
  .main__success {
    margin-top: 90px;
}
.success__grid {

  grid-template-columns: repeat(2, 1fr);

}
}


@media (max-width: 800px){
      .main__success {
        margin-top: 80px;
    }
  .success__item img {
        width: 100px;
    }
    .success__item {
  font-size: 15px;
}

}


@media (max-width: 600px){
 .main__success {
    margin-top: 50px;
}
    .success__item img {
        width: 90px;
    }
}
